<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118067198999-bsha6ljhlabnju3vj5blkebh5ikmc005.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118067198999-bsha6ljhlabnju3vj5blkebh5ikmc005</string>
	<key>API_KEY</key>
	<string>AIzaSyAodV3XiRlggjsmmteI2vL2s7Rr9rnjvrI</string>
	<key>GCM_SENDER_ID</key>
	<string>118067198999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.go.pen.damoa</string>
	<key>PROJECT_ID</key>
	<string>damoa-a597a</string>
	<key>STORAGE_BUCKET</key>
	<string>damoa-a597a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:118067198999:ios:6d34a62f17cd56f2</string>
	<key>DATABASE_URL</key>
	<string>https://damoa-a597a.firebaseio.com</string>
</dict>
</plist>
